/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #c9beaa;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/

h1, h2, h3 {
  
  color: #c9beaa;
  
}